<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8">
    <title>Kelurahan Delete</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h3>kelurahan</h3>

    <form th:action="@{~/kelurahan/remove}" method="post">
        <input type="hidden" name="id" th:value="${kelurahan.id}">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama Kelurahan</label>
                    <input type="text" class="form-control" id="nama" name="nama" th:value="${kelurahan.nama}">
                </div>
                <div class="mb-3">
                    <label for="alamat" class="form-label">Alamat Kelurahan</label>
                    <input type="text" class="form-control" id="alamat" name="alamat" th:value="${kelurahan.alamat}">
                </div>
            </div>
        </div>
        <h3>Dusun</h3>
        <div class="row mb-3" th:each="dusun, dusIter : ${kelurahan.daftarDusun}">
            <div class="col-12">
                <div class="mb-3">
                    <label th:for="|id_${dusIter.index}_name|" class="form-label">Nama Dusun</label>
                    <input type="text" class="form-control" th:id="|id_${dusIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].name|" th:value="${dusun.name}">
                </div>
            </div>
            <h3>RW</h3>
            <div class="row mb-3" th:each="rw, rwIter : ${dusun.daftarRW}">
                <div class="col-12">
                    <div class="mb-3">
                        <label th:for="|id_${rwIter.index}_name|" class="form-label">RW</label>
                        <input type="text" class="form-control" th:id="|id_${rwIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].name|" th:value="${rw.name}">
                    </div>
                    <div class="mb-3">
                        <label th:for="|id_${rwIter.index}_nameRW|" class="form-label">Nama RW</label>
                        <input type="text" class="form-control" th:id="|id_${rwIter.index}_nameRW|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].nameRW|" th:value="${rw.nameRW}">
                    </div>
                </div>
                <h3>RT</h3>
                <div class="row mb-3" th:each="rt, rtIter : ${rw.daftarRT}">
                    <div class="col-12">
                        <div class="mb-3">
                            <label th:for="|id_${rwIter.index}_name|" class="form-label">RT</label>
                            <input type="text" class="form-control" th:id="|id_${rwIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].name|" th:value="${rt.name}">
                        </div>
                        <div class="mb-3">
                            <label th:for="|id_${rwIter.index}_nameRT|" class="form-label">Nama RT</label>
                            <input type="text" class="form-control" th:id="|id_${rwIter.index}_nameRT|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].nameRT|" th:value="${rt.nameRT}">
                        </div>
                    </div>
                    <h3>Warga</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nik</th>
                                            <th>Nama Warga</th>
                                            <th>Jenis Kelamin</th>
                                            <th>Umur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="warga, warIter : ${rt.daftarWarga}">
                                            <th scope="row" th:text="${warIter.index + 1}">1</th>
                                            <td>
                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].nik|" th:value="${warga.nik}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].namaWarga|" th:value="${warga.namaWarga}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].jenisKelamin|" th:value="${warga.jenisKelamin}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].age|" th:value="${warga.age}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="reset" class="btn btn-label-secondary">
                <a th:href="@{~/kelurahan}">Close</a>
            </button>
        </div>
    </form>
</div>
</body>
</html>