<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}" >
<head>
    <meta charset="utf-8">
    <title>Kelurahan Edit</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h3>kelurahan</h3>

    <form th:action="@{~/kelurahan/update}" method="post">
        <div class="row">
            <div class="col-12">
                <input type="hidden" name="id" th:value="${kelurahan.id}">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama Kelurahan</label>
                    <input type="text" class="form-control" id="nama" name="nama" th:value="${kelurahan.nama}">
                </div>
                <div class="mb-3">
                    <label for="alamat" class="form-label">Alamat Kelurahan</label>
                    <input type="text" class="form-control" id="alamat" name="alamat" th:value="${kelurahan.alamat}">
                </div>
            </div>
        </div>
        <h3>Dusun</h3>
        <div id="dusun-container">
            <div class="row form-dusun" th:each="dusun, dusIter : ${kelurahan.daftarDusun}">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary btn-add ms-auto">Add Dusun</button>
                    <button type="button" class="btn btn-danger btn-delete-dusun">Delete Dusun</button>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label th:for="|id_${dusIter.index}_name|" class="form-label">Nama Dusun</label>
                        <input type="text" class="form-control" th:id="|id_${dusIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].name|" th:value="${dusun.name}">
                    </div>
                </div>
                <h3>RW</h3>
                <div class="rw-container">
                    <div class="row form-rw" th:each="rw, rwIter : ${dusun.daftarRW}">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-success btn-rw ms-auto">Add RW</button>
                            <button type="button" class="btn btn-danger btn-delete-rw">Delete RW</button>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label th:for="|id_${rwIter.index}_name|" class="form-label">RW</label>
                                <input type="text" class="form-control" th:id="|id_${rwIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].name|" th:value="${rw.name}">
                            </div>
                            <div class="mb-3">
                                <label th:for="|id_${rwIter.index}_nameRW|" class="form-label">Nama RW</label>
                                <input type="text" class="form-control" th:id="|id_${rwIter.index}_nameRW|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].nameRW|" th:value="${rw.nameRW}">
                            </div>
                        </div>
                        <h3>RT</h3>
                        <div class="rt-container">
                            <div class="row form-rt" th:each="rt, rtIter : ${rw.daftarRT}">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-secondary btn-rt ms-auto">Add RT</button>
                                    <button type="button" class="btn btn-danger btn-delete">Delete RT</button>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label th:for="|id_${rwIter.index}_name|" class="form-label">RT</label>
                                        <input type="text" class="form-control" th:id="|id_${rwIter.index}_name|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].name|" th:value="${rt.name}">
                                    </div>
                                    <div class="mb-3">
                                        <label th:for="|id_${rwIter.index}_nameRT|" class="form-label">Nama RT</label>
                                        <input type="text" class="form-control" th:id="|id_${rwIter.index}_nameRT|" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].nameRT|" th:value="${rt.nameRT}">
                                    </div>
                                </div>
                                <h3>Warga</h3>
                                <div class="warga-container">
                                    <div class="row form-warga">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-warning btn-warga ms-auto">Add Warga</button>
                                                <button type="button" class="btn btn-danger btn-delete-warga">Delete Warga</button>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Nik</th>
                                                            <th>Nama Warga</th>
                                                            <th>Jenis Kelamin</th>
                                                            <th>Umur</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="tbl-body">
                                                        <tr class="tbl-warga" th:each="warga, warIter : ${rt.daftarWarga}">
                                                            <th scope="row" th:text="${warIter.index + 1}">1</th>
                                                            <td>
                                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].nik|" th:value="${warga.nik}">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].namaWarga|" th:value="${warga.namaWarga}">
                                                            </td>
                                                            <td>
                                                                <select class="form-select" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].jenisKelamin|">
                                                                    <option value="">Pilih Jenis Kelamin</option>
                                                                    <option value="Pria" th:selected="${warga.jenisKelamin == 'Pria'}">Pria</option>
                                                                    <option value="Wanita" th:selected="${warga.jenisKelamin == 'Wanita'}">Wanita</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" th:name="|daftarDusun[${dusIter.index}].daftarRW[${rwIter.index}].daftarRT[${rtIter.index}].daftarWarga[${warIter.index}].age|" th:value="${warga.age}">
                                                            </td>
                                                            <td>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-label-secondary">
                <a th:href="@{~/kelurahan}">Close</a>
            </button>
        </div>
    </form>
</div>
</body>
</html>