<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <a th:href="@{~/kelurahan/add/v2}"><h2>Kelurahan List</h2></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Kecamatan</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, no : ${kelurahan}">
            <th scope="row" th:text="${no.index + 1}"></th>
            <td th:text="${data.nama}">Mark</td>
            <td th:text="${data.alamat}">Otto</td>
            <td>
                <a th:href="@{~/kelurahan/detail/{id}(id=${data.id})}" class="btn btn-primary">
                    Detail
                </a>
                <a th:href="@{~/kelurahan/edit/{id}(id=${data.id})}" class="btn btn-success">
                    Edit
                </a>
                <a th:href="@{~/kelurahan/delete/{id}(id=${data.id})}" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>