<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8">
    <title>Hello, Akademik!</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <a th:href="@{~/akademik}"><h2>Akademik List</h2></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>Kode</th>
            <th>Nama</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, no : ${fakultas}">
            <td th:text="${no.index + 1}"></td>
            <td th:text="${data.kode}"></td>
            <td th:text="${data.nama}"></td>
            <td>
                <a th:href="@{~/fakultas/detail/{id}(id=${data.id})}" class="btn btn-primary">
                    Detail
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>