<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, Akademik!</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>Kode</th>
            <th>Nama</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, no : ${fakultas}">
            <td th:text="${no.index + 1}"></td>
            <td th:text="${data.kode}"></td>
            <td th:text="${data.nama}"></td>
            <td>
                <a th:href="@{~/fakultas/detail/{id}(id=${data.id})}" class="btn btn-primary">
                    Detail
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>