<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8">
    <title>Detail-RW</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h2>Detail RW</h2>
    <form>
        <div class="row">
            <div class="col-12">
                <input type="hidden" name="id" th:value="${rw.id}" readonly>
                <div class="mb-3">
                    <label for="nama" class="form-label">Kelurahan</label>
                    <input type="text" class="form-control" id="nama" th:value="${kelurahan.nama}" readonly>
                </div>
                <div class="mb-3">
                    <label for="nameDusun" class="form-label">Dusun</label>
                    <input type="text" class="form-control" id="nameDusun" th:value="${dusun.name}" readonly>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="name" th:value="${rw.name}" readonly>
                </div>
                <div class="mb-3">
                    <label for="nameRW" class="form-label">Nama RW</label>
                    <input type="text" class="form-control" id="nameRW" th:value="${rw.nameRW}" readonly>
                </div>
            </div>
        </div>
        <h3>Daftar RT</h3>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>RT</th>
                            <th>Nama RT</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data, no : ${rw.daftarRT}">
                            <td th:text="${no.index + 1}"></td>
                            <td th:text="${data.name}"></td>
                            <td th:text="${data.nameRT}"></td>
                            <td>
                                <a th:href="@{~/kelurahan/detail/{kelurahanId}/dusun/{dusunId}/rw/{rwId}/rt/{rtId}(kelurahanId=${kelurahan.id}, dusunId=${dusun.id}, rwId=${rw.id}, rtId=${data.id})}" class="btn btn-primary">
                                    Detail
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>