<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq">
<head>
    <meta charset="utf-8">
    <title>Detail-Fakultas</title>
</head>
<body>
<div class="container-fluid">
    <h2>Fakultas Detail</h2>

    <form>
        <div class="row">
            <div class="col-12">
                <input type="hidden" name="id" th:value="${fakultas.id}">
                <div class="mb-3">
                    <label for="kode" class="form-label">Kode</label>
                    <input type="text" class="form-control" id="kode" name="kode" th:value="${fakultas.kode}">
                </div>
                <div class="mb-3">
                    <label for="nama" class="form-control">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama" th:value="${fakultas.nama}">
                </div>
                <div class="mb-3">
                    <label for="jumlahJurusan" class="form-control">Jumlah Jurusan</label>
                    <input type="text" class="form-control" id="jumlahJurusan" name="jumlahJurusan" th:value="${fakultas.jumlahJurusan()}">
                </div>
            </div>
        </div>
        <h3>Daftar Jurusan</h3>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode</th>
                            <th>Nama</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data, no : ${fakultas.jurusan}">
                            <td th:text="${no.index + 1}"></td>
                            <td th:text="${data.kode}"></td>
                            <td th:text="${data.name}"></td>
                            <td>
                                <a th:href="@{~/fakultas/detail/{fakultasId}/jurusan/{jurusanId}(fakultasId=${fakultas.id}, jurusanId=${data.id})}" class="btn btn-primary">
                                    Detail
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>